/*------------General Styling-----------*/

:root {
  --vue-primary: #4fc08d;
  --vue-secondary: #35495e;
}

body{
  margin: 0;
  background-color: gray;
  background-image: url("../img/vue_logo.png");
  background-size: 75px 75px;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.bg-vue{
  background-color: var(--vue-primary);
}
.text-vue{
  color: var(--vue-secondary);
}

.border-vue{
  border-color: var(--vue-secondary) !important;
}

.selected{
  background-color: rgba(128,128,128,.9);
  border-radius: 10px;
}

.back{
  width: 5em;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.bubble{
  background-color: rgba(255,255,255,.4);
  border-radius: 15px;
  padding: 10px;
}

.pointer{
  cursor: pointer;
}

.list-group-item{
  background: none;
}


/*------------Image Styling-----------*/

.pic{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid var(--vue-secondary);
  background-color: white;
}

.pic.profile:hover{
  border-radius: 10px;
}

.pic:hover{
  transform: scale(1.5);
  position: relative;
  z-index: 9999;
}

.pic.small{
  width: 50px;
  height: 50px;
  border-width: 2px
}

#logo{
  width: 75px;
}

/*------------Scrollbars Styling------------*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--vue-secondary);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--vue-primary);
  border-radius: 10px;
}

